<ul class="mobile-ofc vertical menu">
    <li>
        <ul class="submenu menu vertical" data-submenu="">
            <li><a href="/ben">BEN</a></li>
            <li><a href="/chain-chair">CHAIN CHAIR</a></li>
            <li><a href="/felt-chair">FELT CHAIR</a></li>
            <li><a href="/lea">LEA</a></li>
            <li><a href="/plicaro-lc">PLICARO LC</a></li>
            <li><a href="/shtool">SHTOOL</a></li>
        </ul>
    </li>
</ul>

<hr>

<p>Wolfgang Laubersheimer<br>
Ubierring 40, 50678 Köln<br>
+49-221-724844<br>
wl@kisd.de</p>
