<div class="off-canvas-wrap move-right" data-offcanvas>
    <div class="inner-wrap">

        <!-- Small screen button -->
        <a class="left-off-canvas-toggle" href="#"><i class="fi-list">  </i></a>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            
            <div class="icon-bar vertical five-up">
                <a class="item">
                    <i class="fi-list"></i>
                    <label></label>
                </a>
                <a class="item" href="/">
                    <label>
                        <span class="schlicht-icon">S</span>
                    </label>
                </a>
            </div>
            
        </aside>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

    </div>
</div>