<div class="off-canvas-wrap move-right" data-offcanvas>
    <div class="inner-wrap">

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            
            <div class="icon-bar vertical five-up">
                <a class="item" href="/">
                    <label>
                        <span class="schlicht-icon">S</span>
                    </label>
                </a>
                <a class="item" href="#" data-toggle="offCanvas">
                    <i class="fi-list"></i>
                    <label></label>
                </a>
                
            </div>
            
        </aside>

    </div>
</div>