{% if page.lang != site.lang and page.lang != null %}
    {% assign notGreadyLanguage = page.lang %}
{% endif %}

<div class="off-canvas-wrap move-right" data-offcanvas>
    <div class="inner-wrap">

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            
            <div class="icon-bar vertical five-up">
                <a class="item" href="/{{ notGreadyLanguage }}">
                    <label>
                        <span class="schlicht-icon">S</span>
                    </label>
                </a>
                <a class="item" href="#" data-toggle="offCanvas">
                    <i class="fi-list"></i>
                    <label></label>
                </a>
                {% if page.lang != site.lang and page.lang != null %}
                    <a class="item" href="../">
                        <label>
                            <span class="schlicht-icon schlicht-lang">{{ site.lang | upcase}}</span>
                        </label>
                    </a>
                {% else %}
                    <a class="item" href="en/">
                        <label>
                            <span class="schlicht-icon schlicht-lang">{{ "EN" | upcase}}</span>
                        </label>
                    </a>
                {% endif %}
            </div>
            
        </aside>

    </div>
</div>